
/* ---------------------- */
/* ---------------------- */
/* --- General Styles --- */
/* ---------------------- */
/* ---------------------- */

body {
    background-color: black;
}

@font-face {
    font-family: techFont;
    src: url(techFont.ttf)
}

/* ---------------------- */
/* ---------------------- */
/* ------ Container ----- */
/* ---------------------- */
/* ---------------------- */



/* ---------------------- */
/* ---------------------- */
/* ------- Buttons ------ */
/* ---------------------- */
/* ---------------------- */

button {
    background-color: black;
    width: 100px;
    height: 30px;
    padding: 0px;
    font-size: 20px;
    font-family: techFont;
}

.greenButton {
    color: rgb(0, 255, 0);
    border-color: rgb(0, 255, 0);
}

/* ---------------------- */
/* ---------------------- */
/* ------- Selects ------ */
/* ---------------------- */
/* ---------------------- */

select {
    background-color: black;
    width: 100px;
    height: 30px;
    box-sizing: border-box;
    padding-bottom: 6px;
    font-family: techFont;
}

.greenSelect {
    color: rgb(0, 255, 0);
    border-color: rgb(0, 255, 0);
}

/* ---------------------- */
/* ---------------------- */
/* ------- Title -------- */
/* ---------------------- */
/* ---------------------- */

#title {
    background-color: black;
    font-weight: bold;
    font-family: techFont;
    font-size: 35px;
    padding: 20px;
    text-align: center;
}

/* ---------------------- */
/* ---------------------- */
/* -------- Text -------- */
/* ---------------------- */
/* ---------------------- */

.greenText {
    color: rgb(0, 255, 0);
}

/* ---------------------- */
/* ---------------------- */
/* ----- Footer Text ---- */
/* ---------------------- */
/* ---------------------- */

#footerText {
    padding-top: 50px;
    font-weight: bold;
    text-align: center;
}

#selColorPedding {
    padding-top: 400px;
}

/* ---------------------- */
/* ---------------------- */
/* ------- Status ------- */
/* ---------------------- */
/* ---------------------- */


/* ---------------------- */
/* ---------------------- */
/* ---- Slot Machine ---- */
/* ---------------------- */
/* ---------------------- */

.slotMachine {
    text-align: center;
    color: rgb(0, 255, 0);
    margin: 0px;
}