<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- JavaScript -->

    <!-- Style CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
    <div>

        <div id="divTitle">
            <h3 class="greenText" id="title">Slot Machine Game - Python and JavaScript</h3>
        </div>

        <div>

            <div>
                <p class="greenText"> Coins: {{ coinsPlay }}</p>
            </div>
            <div>
                <form action="/bet" method="post">
                    <button class="greenButton" id="buttonDisplay">bet</button>
                </form>
            </div>

            <pre class="slotMachine">.-------.  </pre>
            <pre class="slotMachine">|       |  </pre>
            <pre class="slotMachine">_____________|_______|____________   </pre>
            <pre class="slotMachine">|                                 |   </pre>
            <pre class="slotMachine">|===_______===_______===_______===| __</pre>
            <pre class="slotMachine"> ||*|_______|*|_______|*|_______|*||(__)</pre>
            <pre class="slotMachine">|===_______===_______===_______===| ||</pre>
            <pre class="slotMachine">||*| _____ |*| _____ |*| _____ |*|| ||</pre>
            <pre class="slotMachine">||*||     ||*||     ||*||     ||*|| ||</pre>
            <pre class="slotMachine">||*||  {{ a }}  ||*||  {{ b }}  ||*||  {{ c }}  ||*|| ||</pre>
            <pre class="slotMachine">||*||_____||*||_____||*||_____||*|| ||</pre>
            <pre class="slotMachine">||*|_______|*|_______|*|_______|*||_//</pre>
            <pre class="slotMachine">|===_______===_______===_______===|_/ </pre>
            <pre class="slotMachine">|lc=___________________________===|   </pre>
            <pre class="slotMachine">|   |                         |   |   </pre>
            <pre class="slotMachine">_|    |_______________________|    |_   </pre>
            <pre class="slotMachine">(_____________________________________)   </pre>
        </div>

        <div>
            <!-- The status will appear here -->
            <p class="greenText" id="status"> {{ status }} </p>
        </div>

        <div>
            <div>
                <p class="greenText" id="footerText"> Devoloped by Lucas Guerra in 2019</p>
            </div>
        </div>

    </div>
</body>

</html>