<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Jquery and Bootstrap -->
    <script src="app/static/js/jquery.js" type="text/javascript"></script>
    <script src="app/static/js/bootstrap.min.js" type="text/javascript"></script>
    <link href="app/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="app/static/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">

    <!-- Style CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">

</head>

<body>
    <div class="container-fluid">

        <div class="row" id="display">
            <!-- The display will appear here -->
        </div>

        <div class="d-flex justify-content-center">
            <div class="row" id="footer">
                <p class="greenFooterText" id="footerText"> teste</p>
            </div>
        </div>
    </div>

</body>

</html>